.atas {
    width: 900px;
    height: 200px;
    background-color: rgb(67, 231, 163);
    margin: auto;
}

.row{
    width: 900px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.column {
    height: 200px;
}

.yellow {
    width: 200px;
    border: 1px solid black;
    float: left;
    background-color: rgb(240, 220, 44);
}

.orange {
    width: 600px;
    border: 1px solid black;
    float: right;
    background-color: rgb(255, 123, 0);
}

.blue {
    width: 600px;
    border: 1px solid black;
    float: right;
    background-color: rgb(16, 168, 214);
}